<h1>Twitter API</h1>
<h3>Listing usera:</h3>
<ul>
{% for user in users %}
     <li>
          <ul>
               <li>Id: {{ user.idTwitter }}</li>
               <li>Username: <a href="{{ path('single', {'username': user.username, 'id': user.id}) }}">{{ user.username }}</a></li>
          </ul>
     </li>
{% endfor %}
</ul>
<hr>
<a href="{{ path('search') }}">Search</a>
{#
<ul>
{% for users in status %}
     {% for name,value in users %}
          <li>{{ value.name }}</li>
     {% endfor %}
{% endfor %}
</ul>
#}